<div class="col-md-5">
    <div class="pull-left">
        <span class="container">
            <h1>{{ myBio.name }}</h1>
            <h4>{{ myBio.job }}</h4>
            <h4>{{ myBio.school }}</h4>
            <hr>
            <p>{{ myBio.description }}</p>
        </span>
    </div>
</div>
<div class="col-md-7">
    <span class="pull-right">
        <img
            [src]="myBio.imagePath"
            alt="{{ myBio.name }}"
            class="img-responsive"
            style="max-height: 500px"
        />
    </span>
</div>