img {
    object-fit: scale-down;
    width: auto;
    height: 100px;
}

.container {
    background-color: white;
    padding: 30px;
    padding-bottom: 50px;
    width: auto;
    height: 730px;
}

.description {
    font-size: 16px;
}